.basic {
  padding: 12px 10px;
  border: 1px solid var(--color-black);
  border-radius: 4px;
  background-color: #fff;
  font-size: var(--fsize-main);
  font-weight: var(--fweight-bold);
  transition-property: background-color, color;
  transition-duration: var(--trans-short), var(--trans-short);
}

.basic.normal {
  background-color: #fff;
  color: var(--fcolor-black);
}

.basic.normal:hover {
  background-color: var(--color-black);
  color: #fff;
}

.basic.submit {
  border-color: var(--color-main);
  background-color: #fff;
  color: var(--color-main);
}

.basic.submit:hover {
  background-color: var(--color-main);
  color: #fff;
}

.category {
  height: var(--nav-height);
  border: none;
  background-color: #fff;
  font-size: var(--fsize-main);
  font-weight: var(--fweight-normal);
  color: var(--fcolor-black);
  transition-property: color;
  transition-duration: var(--trans-short);
}

.category:hover {
  color: var(--color-main);
}