.basic {
  padding: 7px 20px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  font-size: var(--fsize-main);
  font-weight: var(--fweight-normal);
  transition-property: background-color, color;
  transition-duration: var(--trans-short), var(--trans-short);
}

.borderBottom {
  border-radius: 0;
  border-bottom: 2px solid var(--color-gray300);
  transition-property: border-bottom;
  transition-duration: var(--trans-short);
}

.borderBottom:hover,
.borderBottom:focus,
.borderBottom:not(:placeholder-shown) {
  border-bottom-color: var(--color-black);
}

.borderAll {
  border: 1px solid var(--color-black);
}