/* 
  main
  .main-category
  .main-header
  .main-footer
  .warnning-message
*/

main {
  width: 100%;
  max-width: var(--max-width);
  margin: var(--header-total-height) auto 0;
}

.main-category {
  width: 100%;
  height: var(--nav-height);
  margin-top: -7px;
  border-top: 1px solid var(--color-gray100);
  border-bottom: 1px solid var(--color-gray100);
  overflow: hidden;
}

.main-category ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.main-category li,
.admin-category li {
  line-height: var(--nav-height);
  font-size: var(--fsize-main);
}

.admin-category {
  position: fixed;
  bottom: calc(var(--footer-height) + 50px);
  right: 50px;
  border: 1px solid var(--color-gray300);
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(--color-shadow);
  overflow: hidden;
}

.admin-category .category-title {
  background-color: var(--color-gray200);
  font-weight: var(--fweight-bold);
  text-align: center;
}

.admin-category ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.admin-category li {
  width: 100%;
  height: var(--nav-height);
  padding: 0 20px;
  text-align: right;
  background-color: #fff;
}

.admin-category li:not(:first-of-type) {
  border-top: 1px solid var(--color-gray300);
}

.admin-category li a {
  color: var(--color-black);
  transition-property: color;
  transition-duration: .3s;
}

.admin-category li:hover a {
  color: var(--color-main);
}

.main-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--header-height);
  /* border-bottom: 1px solid var(--color-gray100); */

  text-align: center;
  line-height: var(--header-height);
}

.main-header a strong {
  color: var(--color-main);
  margin-right: 5px;
}

.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  border-top: 1px solid var(--color-gray600);
  background-color: var(--color-black);
  color: #fff;
}

.main-footer>span {
  color: #fff;
  font-size: var(--fsize-main);
}

.main-footer strong {
  color: var(--color-main);
}

.warnning-message {
  position: absolute;
  top: calc(var(--nav-height) + 20px);
  font-size: var(--fsize-main);
  color: var(--color-red);
}

.warnning-message::before {
  content: "!";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 6px;
  background-color: var(--color-red);
  text-align: center;
  font-weight: var(--fweight-bold);
  color: #fff;
}