/* 
  .signin
  .signup
  .findpw
*/

.sign-in,
.sign-up,
.find-pw {
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in section,
.sign-up section,
.find-pw section {
  width: 100%;
  max-width: var(--max-width);
  margin-bottom: 10px;
}

.sign-in section.input-wrap,
.sign-up section.input-wrap,
.find-pw section.input-wrap {
  position: relative;
  max-width: 400px;
  margin-bottom: 20px;
}

.sign-in section.input-wrap>div,
.sign-up section.input-wrap>div,
.find-pw section.input-wrap>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
}

.sign-in section.button-wrap,
.sign-up section.button-wrap,
.find-pw section.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  padding: 0 20px;
}

.sign-in .button-wrap button,
.sign-up .button-wrap button,
.find-pw .button-wrap button {
  width: 100%;
}

.sign-in label,
.sign-up label,
.find-pw label {
  margin-right: 10px;
  font-size: var(--fsize-h3);
}