/* 
  .signin
  .signup
  .findpw
  .userinfo (changeinfo)
*/

.userauth-form {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userauth-form h2 {
  position: absolute;
  top: 50px;
  margin-bottom: 50px;
}

.userauth-form section {
  width: 100%;
  max-width: var(--max-width);
  margin-bottom: 10px;
}

.userauth-form section.input-wrap {
  position: relative;
  max-width: 400px;
  margin-bottom: 20px;
}

.userauth-form section.input-wrap>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
}

.userauth-form section.button-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  padding: 0 20px;
}

.userauth-form .button-wrap button {
  width: 100%;
}

.userauth-form label {
  margin-right: 10px;
  font-size: var(--fsize-h3);
}