@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root {
  --max-width: 1024px;
  --header-height: 80px;
  --footer-height: 150px;

  --color-main: #ff5656;
  --color-black: #222;
  --color-green: green;
  --color-blue: blue;
  --color-red: red;

  --color-gray100: #f1f1f1;
  --color-gray200: #e1e1e1;
  --color-gray300: #d1d1d1;
  --color-gray400: #999;
  --color-gray500: #777;
  --color-gray600: #555;

  --font-main: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --fsize-h2: 20px;
  --fsize-h3: 18px;
  --fsize-h4: 16px;
  --fsize-main: 14px;
  --fsize-sub: 12px;

  --fcolor-black: #222;
  --fcolor-main: var(--color-main);
  --fcolor-placeholder: var(--color-gray300);

  --fweight-light: 100;
  --fweight-normal: 600;
  --fweight-bold: 900;

  --trans-short: .3s;
  --trans-long: .7s;
}